.scroll-top-btn {
    background-color: orange;
    width: 32px;
    height: 32px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    cursor: pointer;
    border-radius: 8%;
    &:hover {
        color: #fff;
    }
}
