.works-step {
    margin-bottom: 50px;
    width: 100%;
    div {
        color: #e67e22;
        font-size: 150%;
        height: 50px;
        width: 50px;
        border: 2px solid #e67e22;
        border-radius: 50%;
        text-align: center;
        padding: 5px;
        float: left;
    }
    p {
        display: inline;
    }
}
