<footer>
  <div class="container">
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <div>
        <ul class="footer-nav">
          <li>
            <a [routerLink]="">
              About us
            </a>
          </li>
          <li>
            <a [routerLink]="">
              Blog
            </a>
          </li>
          <li>
            <a [routerLink]="">
              Press
            </a>
          </li>
          <li>
            <a [routerLink]="">
              iOS App
            </a>
          </li>
          <li>
            <a [routerLink]="">
              Android App
            </a>
          </li>
        </ul>
      </div>
      <div fxLayoutAlign="end start">
        <ul class="social-links">
          <li>
            <a href="#"><i class="ion-logo-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="ion-logo-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="ion-logo-googleplus"></i></a>
          </li>
          <li>
            <a href="#"><i class="ion-logo-instagram"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <p>Copyright &copy; {{currentYear}} by Food-RI. All rights reserved.</p>
    </div>
  </div>
</footer>
<div class="credits" fxLayoutAlign="center center">
  <p>
    Made with
    <img class="icon angular-icon" src="/assets/icons/angular-icon.svg" /> by
    <a href="mailto:alexgerlach90@gmail.com">Alexander Gerlach</a>
  </p>
</div>