footer {
  background: #333;
  padding: 50px;
  font-size: 80%;
}

.footer-nav {
  list-style: none;
}

.social-icons {
  list-style: none;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
}

.footer-nav li a,
.social-links li a {
  &:link,
  &:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
  }
  &:hover,
  &:active {
    text-decoration: none;
    border: 0;
    color: #ddd;
  }
}

.social-links li a {
  &:link,
  &:visited {
    font-size: 160%;
  }
}

.social-links li a i {
  transition: color 0.2s;
}

.ion-logo- {
  &facebook {
    &:hover,
    &:active {
      color: #3b5998;
    }
  }
  &twitter {
    &:hover,
    &:active {
      color: #00aced;
    }
  }
  &googleplus {
    &:hover,
    &:active {
      color: #dd4b39;
    }
  }
  &instagram {
    &:hover,
    &:active {
      color: #517fa4;
    }
  }
}

footer p {
  color: #888;
  text-align: center;
  margin-top: 20px;
}

.credits {
  background-color: #111;
  overflow: hidden;
  height: 40px;
  p {
    color: #fff;
    font-size: 16px;
    vertical-align: middle;
    .angular-icon {
      height: 14px;
    }
    a {
      color: #fff;
      border-bottom: 1px solid #fff;
      cursor: pointer;
      &:hover {
        color: orange;
      }
    }
  }
}